{% extends 'newpage.html' %} {% block title %}{{ title }}{% endblock title %}


{%block content %}

<body>
    
    <h1>Fight Club</h1>
        <form class="dropdown" method="POST">
            <p><h2>Add Fight</h2></p>
            {{ form.csrf_token}}  

            <div id="form-group" class="form-group">
                <label for="fighting">Select your fighter:</label>
                    {{ form.first_opponent }}
            </div>

            <div class="form-group">
                <label for="fighting">Select your opponent:</label>
                    {{ form.second_opponent}}
            </div>
            <br>
            <div class="form-group">
                There is a hidden number between 1 and 10.
                <br><br>
                The fighter who can guesses closest to it will be victorious <br><br><input name="pick_number" type="text">
            </div>

            <br>
            <input id="click" class="db_input" type="submit">
           
            <br><br>
            {%if db_error %}
            <div class="db-error" id="db-error">{{db_error}}</div>
            {% endif %}
            {%if error_db %}
            <div class="db-error" id="db-error">{{error_db}}</div>
            {% endif %}
            {% if victory_statement %}
            <div class="victory_statement">{{victory_statement}}</div>
            {% endif %}
            {% if loss_statement %}
            <div class="db-error">{{loss_statement}}</div>
            {% endif %}
            {% if draw_statement %}
            <div class="draw">{{draw_statement}}</div>
            {% endif %}
            {% if guess_error %}
            <div class="db-error">{{guess_error}}</div>
            {% endif %}
            <br><br><br>
            <div class="victory_statement">{{congrat_statement}}</div>
            <div class="db-error">{{playertwo_statement}}</div>
            <div class="draw">{{tie_statement}}</div>
            <br><br><br>
            <div class="details">{{details}}</div>
            <br><br><br>
            
            
        </form> 
        
 
     

<br><br><br><br><br><br>



<div>
    <style>
        th {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            background-color: rgb(150, 11, 11);
            color: seashell;
        }
        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            background-color: floralwhite;
            color: rgb(148, 16, 16);
            font-weight: bold;
        }
    </style>
   
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
        </tr> 
        </thead>
        <tbody>
            {% for name in tables %}
            <tr>
            <td>{{name.name}}</td>
            
            <td>{{name.wins}}</td>
           
            
            <td>{{name.draws}}</td>
            
           
            <td>{{name.losses}}</td>
            </tr>
            {% endfor %}
        </tbody>
       
    </table>
  </div>
  <a class="back" href="/">Go back</a>

</body>
</html>
 {% endblock %}
