{% extends 'newpage.html' %} {% block title %} Form {% endblock title %} {%
block content %}

<div>
  <h1>Error...</h1>

  {{ error_statement }}
  <br />
</div>

<div>
    <div>
    <form action="/form" id="sub_form" method="POST">
        <input type="text" placeholder="First Name" name="first_name" value="{{ first_name }}"/>
    </div>
    <div>
    <form id="sub_form" method="POST">
        <input type="text" placeholder="Last Name" name="last_name" value= "{{ last_name }}" />
    </div>
    <div>
    <form id="sub_form" method="POST">
        <input type="text" placeholder="Email Address" name="email_name" value="{{ email_name }}"/>
    </div>
        <button type="submit" name="submit">Submit</button>
      </form>
</div>
{% endblock %}
