{% extends 'newpage.html' %} {% block title %}{{ title }}{% endblock title %}
{%block content %}
<body>
  <h1>Our Fighters</h1>
  <div style="text-align: center">
    <form action="/fighters" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="submit" value="Add Name" />
    </form>
  </div>
</body>
<br /><br />
{% for fighter in fighters %}
<h4>
  {{ fighter.name }}
  <div>
    <form action="/update/{{fighter.id}}">
      <button type="submit">Update</button>
    </form>
    <form action="/delete/{{fighter.id}}">
      <button type="submit">Delete</button>
    </form>
  </div>
</h4>
{% endfor %} {% endblock %}
