{% extends 'newpage.html' %} {% block title %}{{ title }}{% endblock title %}
{%block content %}
<body>
  <h1>Our Fighters</h1>
  <div style="text-align: center">
    <form action="/fighters" method="POST">
      <input type="text" name="name" placeholder="Name" /><br />
      <input type="text" name="email" placeholder="Email" /><br />
      <input type="text" name="location" placeholder="Location" /><br />
      <input type="submit" value="Add Name" />
    </form>
  </div>
</body>
<br /><br />
{% for fight in fighters %}
<h4>
  <p>Name: {{ fight.name }}</p>
  <p>Email: {{ fight.email }}</p>
  <p>Location: {{fight.location}}</p>
  <div>
    <form action="/update/{{fight.id}}">
      <button type="submit">Update</button>
    </form>
    <form action="/delete/{{fight.id}}">
      <button type="submit">Delete</button>
    </form>
  </div>
</h4>
{% endfor %} {% endblock %}
