<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        span.bold-red {
        color: red;
        font-weight: bold;
        }
    </style>
    <head>
        <meta charset="utf-8">
        <title>Fight Club</title>    
    </head>

    <body>
    
        <script>
            
            async function postData(e) {
                e.preventDefault();
                const formData = new FormData(e.target);
                const value = Object.fromEntries(formData.entries());
                console.log({value})

                url = "/addfight";
                const response = await fetch(url, {
                
                
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'default', // *default, no-cache, reload, force-cache, only-if-cachaddfight_ed
                credentials: 'same-origin', // include, *same-origin, omit
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "Accept": "application/json"

                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
      
                body: JSON.stringify(value)// body data type must match "Content-Type" header
                })
                .then(response => response.json())
                .then(data => {
                    alert(data)
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

        </script>


        <div style="text-align: center;">
            <span class="bold-red">Fight Club</span><br><br><br><br><br>
        </div>


        <form id="addfight_form" name="addfight_form" style="text-align: center;">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="matchup">Opponent:</label><br>
            <input type="text" id="matchup" name="matchup"><br>
            <label for="winner">Winner:</label><br>
            <input type="text" id="winner" name="winner"><br><br>
            <button type="addfight">Add Fight</button>
        </form><br><br>

        <div style="text-align: center;">
            <a href={{url_for('gettable')}}>Get Table</a>
        </div>

        <script>
            const form = document.querySelector('#addfight_form');
            form.addEventListener('submit', postData);
        </script>
    

        
    </body>
</html>
